loc-letter-of-credit {
    display: block;
    margin-top: 40px;
}

.buttons-wrapper {
    display: flex;
    gap: 15px;
}

.row {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
    gap: 15px;
}

.container {
    max-width: 1240px;
    margin: auto;
}